    </div>
  </main>
  <footer class="site-footer">
    <div class="site-footer__inner">
      <span class="site-footer__text">Soundtrack Prayer Times Scheduler</span>
      <span class="site-footer__brand">Powered by <span>BMAsia</span></span>
    </div>
  </footer>
</body>
</html>
